<form method="post" action="/pizza-orders/<%= @order.id %>/edit">
  <label for="first_name">First name:</label>
  <input id="first_name" value="<%= @order.first_name %>" type="text" name="first_name"/>

  <label for="lastname">Last Name:</label>
  <input id="last_name" value= "<%= @order.last_name %>" type="text" name="last_name"/>

  <label for="topping">Select a pizza:</label>
  <select id = "topping" value="<%= @order.topping %>" name="topping">
    <option value = "Margarita">Margarita</option>
    <option value = "Calzone">Calzone</option>
  </select>

  <label for="quantity">Quantity</label>
  <input id="quantity" value="<%= @order.quantity %>" type="number" name="quantity"/>

  <input type="submit" value="Save"/>



</form>
